<p ></p>

<div class="panel panel-primary" >
    <div class="panel-heading">Overview</div>
    <div class="panel-body">
        
        <p >Ticktack is a personal project to help me learn new skills and hone my existing skills.</p>
        
        <p >This is a SPA (Single Page Application), written in AngularJS. There is also an <a href="http://ticktack.pedanticantic.click/" target="ticktack_laravel" >MVC version written in Laravel</a>. The data and users are the same between the two applications.</p>
        
        <p >Click here for the <a href="https://github.com/pedanticantic/ticktack.ng" target="spa_github" >source code for this version</a>.</p>
        
    </div>
</div>

<div class="panel panel-info" >
    <div class="panel-heading">Registration and Logging in</div>
    <div class="panel-body">
        
        <p >You can register through either application (<a href="http://ticktack.pedanticantic.click/" target="ticktack_laravel" >the Laravel MVC one</a> or this one). The user accounts are shared between them.</p>
        
        <p >To log in (on this application), just start trying to use it, eg click on Projects. If you are not currently logged in, a login pop-up will appear. You have to enter valid account details before you can go to any pages containing data.</p>
        
    </div>
</div>
