<h2 >Projects</h2>

<p >Add a <a ui-sref="projectcreate()" >new project</a>.</p>

<p >
    <form data-ng-submit="getProjects()" >
        Temporary quick filter:
        <input type="text" name="project_filter" data-ng-model="projectFilter"/>
        <input class="btn btn-primary" type="submit" value="Go" />
    </form>
</p>

<p data-ng-show="isLoading()" ><img src="images/spinner.gif" /> Loading...</p>
<span data-ng-hide="isLoading()" >
    <p data-ng-show="projects.length == 0" >No projects match your criteria.</p>
    <h3 data-ng-show="projects.length > 0" >{{ projects.length }} projects...</h3>
    <table class="app-data striped" data-ng-show="projects.length > 0">
        <th >Id</th><th >Name</th><th >Description</th><th colspan="3">Options</th>
        <tr data-ng-repeat="project in projects" >
            <td >{{ project.id }}</td>
            <td >{{ project.name }}</td>
            <td class="description" data-ng-bind-html="project.descriptionAsMarkdown | sanitise" ></td>
            <td ><a ui-sref="projectview({id: project.id})" >View</a></td>
            <td ><a ui-sref="projectedit({id: project.id})" >Edit</a></td>
            <td ><a ui-sref="tickets({projectId: project.id})" >Tickets</a></td>
        </tr>
    </table>
</span>
