<h2 >View Project</h2>

<h3 >{{ project.name }}</h3>

<div class="formatted-block" data-ng-bind-html="project.descriptionAsMarkdown | sanitise" >
</div>

<br />
<p ><a ui-sref="projectedit({id: project.id})" >Edit</a> this project</p>

<p >Go to <a ui-sref="projects()" >Project List</a></p>

<h4 >Tickets in this project</h4>

<div class="project-status-panel" >
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">By Status</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li data-ng-repeat="ticketStatus in ticketStatuses">
                    <a ui-sref="tickets(
{
    projectId: project.id,
    statuses: ticketStatus.code
})" >
                        {{ countTicketFilter({status: ticketStatus.code}) }} {{ ticketStatus.desc }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="project-status-panel" >
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Open Tickets By Priority</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li data-ng-repeat="ticketPriority in ticketPriorities">
                    <a ui-sref="tickets(
{
    projectId: project.id,
    statuses: ['new', 'assigned', 'in progress'],
    priorities: ticketPriority.code
})" >
                        {{ countTicketFilter({priority: ticketPriority.code, status: ['new', 'assigned', 'in progress']}) }} {{ ticketPriority.desc }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="project-status-panel" >
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Your Open Tickets By Assignment Type</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li >
                    <a ui-sref="tickets(
{
    projectId: project.id,
    statuses: ['new', 'assigned', 'in progress'],
    assignmentUserIds: getLoggedInUserId(),
    assignmentLevel: 'primary'
})" >
                        {{ countTicketFilter({status: ['new', 'assigned', 'in progress'], assignments: {userId: getLoggedInUserId(), sortOrder: 1} }) }} Primary
                    </a>
                </li>
                <li >
                    <a ui-sref="tickets(
{
    projectId: project.id,
    statuses: ['new', 'assigned', 'in progress'],
    assignmentUserIds: getLoggedInUserId(),
    assignmentLevel: 'other'
})" >
                        {{ countTicketFilter({status: ['new', 'assigned', 'in progress'], assignments: {userId: getLoggedInUserId(), sortOrder: '!1'} }) }} Other
                    </a>
                </li>
                <li >
                    <a ui-sref="tickets(
{
    projectId: project.id,
    statuses: ['new', 'assigned', 'in progress'],
    assignmentUserIds: getLoggedInUserId()
})" >
                        {{ countTicketFilter({status: ['new', 'assigned', 'in progress'], assignments: {userId: getLoggedInUserId()} }) }} Any
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
