<h2 >{{ getModeDesc() }} Project</h2>

<form name="editProject" ng-submit="saveProject()" >
    <table >
        <tbody >
            <tr >
                <th >Name *</th>
                <td >
                    <input type="text" name="project_name" data-ng-model="project.name" data-ng-required="true" data-ng-minlength="5" data-ng-maxlength="30" />
                    (Between 5 and 30 characters)
                    <p data-ng-hide="editProject.project_name.$valid" class="error_block" >Name is not valid</p>
                </td>
            </tr>
            <tr >
                <th >Description *</th>
                <td >
                    <textarea data-ng-model="project.description" rows="8" cols="50" data-ng-required="true" ></textarea>
                </td>
            </tr>
        </tbody>
    </table>
    
    <p ><input class="btn btn-primary" type="submit" value="Save" /></p>
</form>

<br />
<p >Go to <a ui-sref="projects()" >Project List</a></p