<h2 >Register</h2>

<p >
    <form data-ng-submit="registerUser()" >
        <table >
            <tbody >
                <tr >
                    <th >Username</th>
                    <td ><input type="text" name="username" data-ng-model="username"/></td>
                </tr>
                <tr >
                    <th >Password</th>
                    <td ><input type="password" name="password" data-ng-model="password"/></td>
                </tr>
                <tr >
                    <th >Confirm Password</th>
                    <td ><input type="password" name="confirm_password" data-ng-model="confirm_password"/></td>
                </tr>
            </tbody>
        </table>
        <input type="submit" value="Register" />
        <div data-ng-show="errorMessage.length > 0" >
            <h3 >Errors</h3>
            <ul style="color: red" >
                <li data-ng-repeat="msg in errorMessage" >{{ msg }}</li>
            </ul>
        </div>
    </form>
</p>
