<h2 >Tickets</h2>

<p >Add a <a ui-sref="ticketadd()" >new ticket</a>.</p>

<div class="panel panel-info">
    <div class="panel-heading" data-ng-click="toggleShowFilter()" >
        <h3 class="panel-title">Filter tickets
            <span aria-hidden="true" class="glyphicon" data-ng-class="filterIsVisible ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-right'"></span>
        </h3>
    </div>
    <div class="panel-body" data-ng-show="filterIsVisible" >
        <form data-ng-submit="applyFilter()" >
            <table class="record-filter" >
                <tr >
                    <th >Summary</th>
                    <td ><input type="text" data-ng-model="filter.summary" size="60" /></td>
                </tr>
                <tr >
                    <th >Description</th>
                    <td ><input type="text" data-ng-model="filter.description" size="60" /></td>
                </tr>
                <tr >
                    <th >Project</th>
                    <td >
                        <select data-ng-model="filter.projectId" data-ng-options="project.id as project.name for project in projectData">
                            <option value="" >(All projects)</option>
                        </select>
                    </td>
                </tr>
                <tr >
                    <th >Ticket Types</th>
                    <td >
                        <table>
                            <tr data-ng-repeat="ticketType in staticData.types" >
                                <td ><label for="ticket-type-{{ticketType.code}}" ><input type="checkbox" data-ng-model="filter.type[ticketType.code]" id="ticket-type-{{ticketType.code}}" />{{ ticketType.desc }}</label></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr >
                    <th >Created By</th>
                    <td >
                        <select data-ng-model="filter.createdByUserId" data-ng-options="user.id as user.userName for user in userData">
                            <option value="" >(Any user)</option>
                        </select>
                    </td>
                </tr>
                <tr >
                    <th >Priorities</th>
                    <td >
                        <table>
                            <tr data-ng-repeat="priorityType in staticData.priorities" >
                                <td ><label for="ticket-priority-{{priorityType.code}}" ><input type="checkbox" data-ng-model="filter.priority[priorityType.code]" id="ticket-priority-{{priorityType.code}}" />{{ priorityType.desc }}</label></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr >
                    <th >Statuses</th>
                    <td >
                        <table>
                            <tr data-ng-repeat="statusType in staticData.statuses" >
                                <td ><label for="ticket-status-{{statusType.code}}" ><input type="checkbox" data-ng-model="filter.status[statusType.code]" id="ticket-status-{{statusType.code}}" />{{ statusType.desc }}</label></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr >
                    <th >Assignments</th>
                    <td >
                        <select data-ng-model="filter.assignment.userId" data-ng-options="user.id as user.userName for user in userData">
                            <option value="" >(Any user)</option>
                        </select>
                        as
                        <select data-ng-model="filter.assignment.level" >
                            <option value="" >Any</option>
                            <option value="primary" >Primary</option>
                            <option value="other" >Other</option>
                        </select>
                    </td>
                </tr>
            </table>
            <input type="submit" class="btn btn-primary" value="Apply" />
            <button data-ng-click="clearFilter($event)" >Clear</button>
        </form>
    </div>
</div>

<p data-ng-show="isLoading()" ><img src="images/spinner.gif" /> Loading...</p>
<span data-ng-hide="isLoading()" >
    <p data-ng-show="tickets.length == 0">Sorry, no tickets match your criteria</p>

    <h3 data-ng-show="tickets.length > 0" >{{ tickets.length }} tickets...</h3>
    <table class="app-data striped" data-ng-show="tickets.length > 0">
        <thead>
            <th >Id</th>
            <th >Project</th>
            <th >Type</th>
            <th >Summary</th>
            <th >Primary</th>
            <th >Priority</th>
            <th >Status</th>
            <th >Options</th>
        </thead>
        <tbody>
            <tr data-ng-repeat="ticket in tickets" >
                <td >{{ ticket.id }}</td>
                <td >{{ ticket.project.name }}</td>
                <td >{{ ticket.getTicketTypeDesc() }}</td>
                <td >{{ ticket.summary }}</td>
                <td >{{ ticket.getPrimaryAssigneeName() }}</td>
                <td >{{ ticket.getPriorityDesc() }}</td>
                <td >{{ ticket.getStatusDesc() }}</td>
                <td >
                    <a ui-sref="ticketview({id: ticket.id})" >&nbsp;Details/Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</span>
