<h2 >View/Edit Ticket <img src="/images/spinner.gif" data-ng-show="spinners.ticket > 0" /></h2>

<table class="app-data" data-ng-click="toggleEdit(true)" >
    <tbody >
        <tr >
            <th >Project</th>
            <td >
                <span ng-switch on="editingTicket" >
                    <span data-ng-switch-when="false">
                        {{ ticket.project.name }}
                    </span>
                    <span data-ng-switch-when="true">
                        <select data-ng-model="ticket.projectId" data-ng-options="project.id as project.name for project in projectData">
                        </select>
                    </span>
                </span>
            </td>
        </tr>
        <tr >
            <th >Type</th>
            <td >
                <span ng-switch on="editingTicket" >
                    <span data-ng-switch-when="false">
                        {{ codeToDesc('ticket_types', ticket.ticketType) }}
                    </span>
                    <span data-ng-switch-when="true">
                        <select data-ng-model="ticket.ticketType" data-ng-options="data.code as data.desc for (index, data) in staticData.types">
                        </select>
                    </span>
                </span>
            </td>
        </tr>
        <tr >
            <th >Summary</th>
            <td >
                <span ng-switch on="editingTicket" >
                    <span data-ng-switch-when="false">
                        {{ ticket.summary }}
                    </span>
                    <span data-ng-switch-when="true">
                        <input type="text" data-ng-model="ticket.summary" maxlength="60" size="60" />
                    </span>
                </span>
            </td>
        </tr>
        <tr >
            <th >Description</th>
            <td >
                <span ng-switch on="editingTicket" >
                    <span data-ng-switch-when="false" class="description" data-ng-bind-html="ticket.descriptionMarkdown | sanitise">
                    </span>
                    <span data-ng-switch-when="true">
                        <textarea data-ng-model="ticket.description" rows="6" cols="60" ></textarea>
                    </span>
                </span>
            </td>
        </tr>
        <tr >
            <th >Created By</th>
            <td >
                <span ng-switch on="editingTicket" >
                    <span data-ng-switch-when="false">
                        {{ ticket.createdByUserName }}
                    </span>
                    <span data-ng-switch-when="true">
                        <select data-ng-model="ticket.createdByUserId" data-ng-options="user.id as user.userName for user in userData">
                        </select>
                    </span>
                </span>
            </td>
        </tr>
        <tr >
            <th >Priority</th>
            <td >
                <span ng-switch on="editingTicket" >
                    <span data-ng-switch-when="false">
                        {{ codeToDesc('ticket_priorities', ticket.priority) }}
                    </span>
                    <span data-ng-switch-when="true">
                        <select data-ng-model="ticket.priority" data-ng-options="data.code as data.desc for (index, data) in staticData.priorities">
                        </select>
                    </span>
                </span>
            </td>
        </tr>
        <tr >
            <th >Status</th>
            <td >
                <span ng-switch on="editingTicket" >
                    <span data-ng-switch-when="false">
                        {{ codeToDesc('ticket_statuses', ticket.status) }}
                    </span>
                    <span data-ng-switch-when="true">
                        <select data-ng-model="ticket.status" data-ng-options="data.code as data.desc for (index, data) in staticData.statuses">
                        </select>
                    </span>
                </span>
            </td>
        </tr>
        <tr >
            <th >Due Datetime</th>
            <td >
                <span ng-switch on="editingTicket" >
                    <span data-ng-switch-when="false">
                        {{ ticket.dueDatetime | date:'dd/MM/yyyy H:mm' }}
                    </span>
                    <span data-ng-switch-when="true">
                        <input type="text" data-ng-model="ticket.dueDatetimeForView" size="20" /> (Needs a date picker)
                    </span>
                </span>
            </td>
        </tr>
        <tr >
            <th >Estimated Length</th>
            <td >
                <span ng-switch on="editingTicket" >
                    <span data-ng-switch-when="false">
                        {{ ticket.estimatedLengthForView }}
                    </span>
                    <span data-ng-switch-when="true">
                        <input type="text" data-ng-model="ticket.estimatedLengthForView" size="10" />
                    </span>
                </span>
            </th>
        </tr>
    </tbody>
</table>

<br />
<span ng-switch on="editingTicket" >
    <p data-ng-switch-when="false">
        <button data-ng-click="toggleEdit()" class="btn btn-primary" >Edit</button> this ticket
    </p>
    <div data-ng-switch-when="true">
        <p >
            <button data-ng-click="saveTicket()" class="btn btn-primary" >Save</button>
            <button data-ng-click="toggleEdit()" class="btn btn-default" >Cancel</button>
        </p>
    </div>
</span>

<p data-ng-hide="editingTicket">Add a <a ui-sref="ticketadd()" >new ticket</a>.</p>

<p >Go to <a ui-sref="tickets()" >Ticket List</a></p>

<span data-ng-show="ticket_id > 0" >

<tabset>
    <tab >
        <tab-heading>
            <h3 >Assignments ({{ ticket.getPrimaryAssigneeName() }}) <img src="/images/spinner.gif" data-ng-show="spinners.assignment > 0" /></h3>
        </tab-heading>
        
        <p data-ng-show="ticket.assignments.length == 0" >There are no assignments</p>
        <table class="app-data striped ticket-subrecord" data-ng-show="ticket.assignments.length > 0" >
            <tbody >
                <tr data-ng-repeat="assignment in ticket.assignments" >
                    <td >{{ assignment.getAssigneeType() }}</td>
                    <td >{{ assignment.userName }}</td>
                    <td data-ng-if="ticket.assignments.length > 1" ><span class="assign-up-down-container"><button data-ng-show="$index < (ticket.assignments.length - 1)" data-ng-click="moveAssignment(assignment.id, 'down')" title="Move this assignment down" class="btn btn-warning" ><span class="glyphicon glyphicon-chevron-down" ></span></button></span></td>
                    <td data-ng-if="ticket.assignments.length > 1" ><span class="assign-up-down-container"><button data-ng-show="$index > 0" data-ng-click="moveAssignment(assignment.id, 'up')" title="Move this assignment up" class="btn btn-warning" ><span class="glyphicon glyphicon-chevron-up" ></span></button></span></td>
                    <td ><button data-ng-click="unassign(assignment.id)" class="btn btn-danger" >Unassign</button>
                </tr>
            </tbody>
        </table>

        <span ng-switch on="adding.assignment" >
            <p data-ng-switch-when="false">
                <button data-ng-click="toggle('assignment')" class="btn btn-primary" >Add Assignment</button>
            </p>
            <div data-ng-switch-when="true">
                <p >
                    <select data-ng-model="newAssignee.id" data-ng-options="assignee.id as assignee.userName for assignee in assignees">
                    </select>
                </p>
                <p >
                    <button data-ng-click="saveAssignment()" class="btn btn-primary" >Save</button>
                    <button data-ng-click="toggle('assignment')" class="btn btn-default" >Cancel</button>
                </p>
            </div>
        </span>
        
    </tab>
    <tab >
        <tab-heading>
            <h3 >Relationships ({{ ticket.associated.length }}) <img src="/images/spinner.gif" data-ng-show="spinners.relationship > 0" /></h3>
        </tab-heading>
        
        <p data-ng-show="ticket.associated.length == 0" >There are no relationships</p>
        <table class="app-data striped ticket-subrecord" data-ng-show="ticket.associated.length > 0" >
            <thead >
                <tr >
                    <th >Type</th>
                    <th >Ticket</th>
                    <th >Pinned</th>
                    <th colspan="2" >Options</th>
                    <th >Delete</th>
                </tr>
            </thead>
            <tbody >
                <tr data-ng-repeat="association in ticket.associated" >
                    <td >{{ relationshipTypeToDesc(association.relationshipType) }}</td>
                    <td >
                        <a ui-sref="ticketview({id: association.trgTicketId})" >
                            {{ association.trgSummary }}
                        </a>
                    </td>
                    <td ><input type="checkbox" data-ng-model="association.pinned" data-ng-click="togglePinned(association)" /></td>
                    <td ><span class="assoc-up-down-container"><button data-ng-show="$index < (ticket.associated.length - 1)" data-ng-click="moveAssociated(association.id, 'down')" title="Move this association down" class="btn btn-warning" ><span class="glyphicon glyphicon-chevron-down" ></span></button></span></td>
                    <td ><span class="assoc-up-down-container"><button data-ng-show="$index > 0" data-ng-click="moveAssociated(association.id, 'up')" title="Move this association up" class="btn btn-warning" ><span class="glyphicon glyphicon-chevron-up" ></span></button></span></td>
                    <td ><span class="assoc-delete-container"><button data-ng-click="deleteAssociated(association.id)" title="Delete this association" class="btn btn-danger" ><span class="glyphicon glyphicon-remove" ></span></button></span></td>
                </tr>
            </tbody>
        </table>

        <span ng-switch on="adding.relationship" >
            <p data-ng-switch-when="false">
                <button data-ng-click="toggle('relationship')" class="btn btn-primary" >Add Relationship</button>
            </p>
            <div data-ng-switch-when="true">
                <p >
                    <select data-ng-model="newRelationship.relType" data-ng-options="oneRelationship.description for oneRelationship in relationshipTypes">
                        <option value="" >Please select a type</option>
                    </select>
                    <select data-ng-model="newRelationship.trgTicket" data-ng-options="oneTicket.summary for oneTicket in allTickets | excludeItself:ticket_id">
                        <option value="" >Please select a ticket</option>
                    </select>
                </p>
                <p >
                    <button data-ng-click="saveRelationship()" class="btn btn-primary" >Save</button>
                    <button data-ng-click="toggle('relationship')" class="btn btn-default" >Cancel</button>
                </p>
            </div>
        </span>
        
    </tab>
    <tab >
        <tab-heading>
            <h3 >Time Spent (<span title="This ticket" >{{ ticket.timeSpentTotals.total_spent }}</span> | <span title="This ticket and its children" >{{ ticket.timeSpentTotals.total_spent_inc_children }}</span>) <img src="/images/spinner.gif" data-ng-show="spinners.timeSpent > 0" /></h3>
        </tab-heading>
        
        <table class="app-data striped ticket-subrecord" >
            <thead >
                <tr >
                    <th >Start Time</th>
                    <th >Duration</th>
                    <th >User</th>
                    <th >Notes</th>
                </tr>
            </thead>
            <tbody >
                <tr data-ng-show="ticket.timesSpent.length == 0" >
                    <td colspan="4" >No time has been recorded against this ticket</td>
                </tr>
                <tr data-ng-repeat="timeSpent in ticket.timesSpent" >
                    <td >{{ timeSpent.startDatetime | date:'dd/MM/yyyy&nbsp;H:mm:ss' }}</td>
                    <td >{{ timeSpent.durationFormatted }}</td>
                    <td >{{ timeSpent.userName }}</td>
                    <td >{{ timeSpent.notes }}</td>
                </tr>
                <tr >
                    <td ><br /></td>
                    <th >This Ticket</th>
                    <th colspan="2">This Ticket and Children</th>
                </tr>
                <tr >
                    <th >Total</th>
                    <td >{{ ticket.timeSpentTotals.total_spent }}</td>
                    <td colspan="2">{{ ticket.timeSpentTotals.total_spent_inc_children }}</td>
                </tr>
                <tr >
                    <th >Remaining</th>
                    <td >{{ ticket.timeSpentTotals.total_remaining }}</td>
                    <td colspan="2">{{ ticket.timeSpentTotals.total_remaining_inc_children }}</td>
                </tr>
            </tbody>
        </table>

        <span ng-switch on="adding.timeSpent" >
            <p data-ng-switch-when="false">
                <button data-ng-click="toggle('timeSpent')" class="btn btn-primary" >Record time spent</button>
            </p>
            <div data-ng-switch-when="true">
                <table >
                    <tbody >
                        <tr >
                            <th >Start Time</th>
                            <td ><input type="text" data-ng-model="newTimeSpent.startDatetime" /></td>
                        </tr>
                        <tr >
                            <th >Duration</th>
                            <td ><input type="text" data-ng-model="newTimeSpent.duration" /></td>
                        </tr>
                        <tr >
                            <th >Notes</th>
                            <td ><textarea data-ng-model="newTimeSpent.notes" ></textarea></td>
                        </tr>
                    </tbody>
                </table>
                <p >
                    <button data-ng-click="saveTimeSpent()" class="btn btn-primary" >Save</button>
                    <button data-ng-click="toggle('timeSpent')" class="btn btn-default" >Cancel</button>
                </p>
            </div>
        </span>
        
    </tab>
</tabset>


<h3 >Comments <img src="/images/spinner.gif" data-ng-show="spinners.comment > 0" /></h3>
<p data-ng-show="ticket.comments.length == 0" >There are no comments</p>
<table data-ng-show="ticket.comments.length > 0" >
    <tbody >
        <tr data-ng-repeat="comment in ticket.comments" >
            <td >
                {{ comment.createdAt | date:'dd/MM/yyyy H:mm:ss' }}&nbsp;{{ comment.addedByUserName }}
                <div class="formatted-block comment" data-ng-bind-html="comment.detailsMarkdown | sanitise" ></div>
            </td>
        </tr>
    </tbody>
</table>

<span ng-switch on="adding.comment" >
    <p data-ng-switch-when="false">
        <button data-ng-click="toggle('comment')" class="btn btn-primary" >Add Comment</button>
    </p>
    <div data-ng-switch-when="true">
        <p >
            Your comment...<br />
            <textarea data-ng-model="newComment.detail" cols="80" rows="8" ></textarea>
        </p>
        <p >
            <button data-ng-click="saveComment()" class="btn btn-primary" >Save</button>
            <button data-ng-click="toggle('comment')" class="btn btn-default" >Cancel</button>
        </p>
    </div>
</span>



</span>
