<h2 >Version History</h2>

<table class="version-history" >
    <thead>
        <tr ><th >Version</th><th >Release Date</th><th >Detail</th></tr>
    </thead>
    <tbody>
        <tr class="revision" >
            <td >0.3.6</td>
            <td>04/08/2015</td>
            <td >The "list" screens now show a "Loading..." message while the records are retrieved from the server.</td>
        </tr>
        <tr class="revision" >
            <td >0.3.5</td>
            <td>04/08/2015</td>
            <td >Ticket view now shows total time spent, even if no time recorded against that ticket.</td>
        </tr>
        <tr class="revision" >
            <td >0.3.4</td>
            <td>01/08/2015</td>
            <td >Put ticket assignments, relationships and time spent into tabs. Looks lovely.</td>
        </tr>
        <tr class="revision" >
            <td >0.3.3</td>
            <td>01/08/2015</td>
            <td >Improved the time spent code where it updates the totals after a save.</td>
        </tr>
        <tr class="revision" >
            <td >0.3.2</td>
            <td>01/08/2015</td>
            <td >Added a delete option to relationships.</td>
        </tr>
        <tr class="revision" >
            <td >0.3.1</td>
            <td>01/08/2015</td>
            <td >Stopped relationship form showing the current ticket in the related ticket list.</td>
        </tr>
        <tr class="minor" >
            <td >0.3.0</td>
            <td>26/07/2015</td>
            <td >
                Fixed bug with logging in (oops).<br />
                Added the ability to record time against a ticket; show total time recorded and time remaining.
            </td>
        </tr>
        <tr class="minor" >
            <td >0.2.0</td>
            <td>24/07/2015</td>
            <td >Now uses bower to manage all the 3rd-party JS resources, including AngularJS itself</td>
        </tr>
        <tr class="revision" >
            <td >0.1.1</td>
            <td>24/07/2015</td>
            <td >Added version history</td>
        </tr>
        <tr class="minor" >
            <td >0.1.0</td>
            <td>23/07/2015</td>
            <td >Initial version</td>
        </tr>
    </tbody>
</table>
    