<!doctype html>
<html data-ng-app="ticktack" data-ng-controller="TicktackCtrl" lang="en" >
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Ticktack - AngularJS</title>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        
        <script src="built/ticktack.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="style/ticktack.css">
    </head>
    <body >
        <div class="container" >
            <div class="current-user" >
                Logged in as: {{ loggedInUser() }}
            </div>
            <div class="page-header">
                <h1 >Ticktack</h1>
            </div>
            
            <div class="btn-group" role="group" >
                <a href="#/home" class="btn btn-default" >Home</a>
                <a href="#/projects" class="btn btn-default" >Projects</a>
                <a href="#/tickets" class="btn btn-default" >Tickets</a>
                <a data-ng-show="!isLoggedIn()" href="#/register" class="btn btn-default" >Register</a>
                <a data-ng-show="isLoggedIn()" href="#/logout" class="btn btn-default" >Logout</a>
                <a href="#/version-history" class="btn btn-default" >v0.3.6 History</a>
            </div>
            
            <br />
            
            <div data-ui-view ></div>
        </div>
    </body>
</html>