.addr {
    border: 1px solid red;
}

table.app-data {
    background: #eee;
}
table.app-data.striped tr:nth-child(even) {
    background: #ddd;
}
table.app-data th,
table.app-data td {
    padding: 4px;
    border: 1px solid #ccc;
}
table.app-data th {
    background: #bbb;
}

.current-user {
    position: relative;
    float: right;
    border: 1px solid #aaa;
    margin: 4px;
    padding: 4px;
}

.ticket-subrecord {
    margin-bottom: 4px;
}

div.project-status-panel {
    width: 32%;
    min-width: 320px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 170px;
}
div.project-status-panel .panel-info {
    height: 100%;
}

table.record-filter>tbody>tr>th,
table.record-filter>tbody>tr>td {
    border: 1px solid #ccc;
    padding: 2px;
}

.formatted-block {
    background-color: #eee;
    padding: 4px;
    border-radius: 4px;
}
.formatted-block.comment {
    margin-bottom: 12px;
}

.error_block {
    color: red;
}

table.version-history th,
table.version-history td {
    padding: 10px;
    border: 1px solid #eee;
}
table.version-history th {
    background-color: #ddd;
}
table.version-history tr.minor {
    font-weight: bold
}

/* To get the tabs looking nice. */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}
.nav-tabs a:focus {
    outline: auto;
}
