<div class="modal-content">

    <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="LoginModalCtrl.cancel()" >&times;</button>

        <h4 class="modal-title">Sign In</h4>

    </div>

    <div class="modal-body">

        <form class="form-horizontal" ng-submit="LoginModalCtrl.submit(loginUsername, loginPassword)">

            <div class="form-group">
                <label for="login_username" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="login_username" placeholder="Username" ng-model="loginUsername" >
                </div>
            </div>

            <div class="form-group">
                <label for="login_password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="login_password" placeholder="Password" ng-model="loginPassword" >
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <p class="alert alert-danger" data-ng-hide="LoginModalCtrl.loginIsValid" >Username and password are invalid</p>
                </div>
            </div>

        </form>

    </div>

    <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="LoginModalCtrl.cancel()" >Close</button>

    </div>

</div>
